@define-color accent #afa193;
@define-color fg #f6f1ea;
@define-color bg #2B3339;
@define-color bg-alt #252525;

* {
    font-size: 21px;
    min-height: 0;
}

window#waybar {
    background-color: @bg;
    border-bottom: 0px solid @bg-alt;
}

#mode {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: @accent;
}

#language,
#pulseaudio,
#battery,
#backlight,
#cpu,
#memory,
#temperature {
    font-family: "JetBrainsMono Nerd Font";
    color: #7fbbb3;
}

#custom-clock {
    font-family: "JetBrainsMono Nerd Font";
    color: #d3c6aa;
}

#workspaces {
    font-family: "JetBrainsMono Nerd Font";
}

#workspaces button {
    padding: 7px 12px 7px 12px;
    color: #d3c6aa;
    background-color: @bg;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}

#workspaces button:hover {
    background: none;
    border: none;
    box-shadow: none;
}

#workspaces button.focused {
    border-bottom: 4px solid #5b8c6e;
}

#battery {
    padding-right: 8px;
}

#tray {
    font-family: "Ubuntu";
    padding-right: 5px;
    padding-left: 10px;
}
